/** social-share **/

#shareto .button{
    color: white;
    background-color: #07c;
    padding: 10px;
    border-radius: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

#shareto .share-list {
    margin-top: 20px;
    list-style: none;
    padding: 0px;
}

/* TODO */
#shareto .share-list .share-icon .icon{}