<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="unet_config" translate="label" sortOrder="1">
            <label>UNET Studio</label>
        </tab>
        <section id="unet_studio" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>UNET Studio</label>
            <tab>unet_config</tab>
            <resource>Unet_SocialShare::unet_config</resource>
            <group id="social_share" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Share</label>
                <field id="twitter_site_name" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter Site Name</label>
                    <comment>The site name for Twitter share (e.g: wallartprints)</comment>
                </field>
            </group>
        </section>
    </system>
</config>